@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;0,900;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --text-color: #f5f5f5;
  --hover-color: #12f7ff;
  --background--color: #28272f;
  --header-neon-shadow: 0 0 10px rgba(18, 247, 255, 0.6),
    0 0 20px rgba(18, 247, 255, 0.6), 0 0 30px rgba(18, 247, 255, 0.6),
    0 0 40px rgba(18, 247, 255, 0.6), 0 0 70px rgba(18, 247, 255, 0.6),
    0 0 80px rgba(18, 247, 255, 0.6), 0 0 100px rgba(18, 247, 255, 0.6),
    0 0 150px rgba(18, 247, 255, 0.6);
  --logo-neon-shadow: 0 0 10px rgba(18, 247, 255, 0.3),
    0 0 20px rgba(18, 247, 255, 0.3), 0 0 30px rgba(18, 247, 255, 0.3);
  --image-neon-shadow: 0 0 10px rgba(33, 218, 224, 0.4),
    0 0 20px rgba(18, 247, 255, 0.4), 0 0 30px rgba(136, 16, 110, 0.4);
}
a:visited {
  color: inherit;
}
img {
  width: 248px;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  border: 30px var(--hover-color);
  
}
.image-box{
  background-color: rgb(170, 169, 169);
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: var(--image-neon-shadow);
}
#menu-icon{
 cursor: pointer;
 font-size: 2rem;
 margin-left: 25px;
 display: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 10%;
}

.logo {
  font-size: 40px;
  font-weight: 700px;
  letter-spacing: 1px;
}
span {
  color: var(--hover-color);
  font-size: 150%;
  text-shadow: var(--logo-neon-shadow);
}
.header_options {
  display: flex;
}
.header_options a {
  font-weight: 500;
  padding: 10px 20px;
}
.header_options a:hover {
  color: var(--hover-color);
  text-shadow: var(--header-neon-shadow);
}
body {
  font-family: "Poppins", sans-serif;
 
  background-image: url("img/banner-bg.png");
  color: var(--text-color);
}
section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding: 5px 10%;
}
.home-content h1 {
  font-size: 35px;
  font-weight: 700;
  width: 80%;
}
.text-changer {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 15px;
}
.text-changer span {
 font-size: 25px;
  font-weight: 600;
  position: absolute;
  padding-left: 10px;
  opacity: 0;
}
.info {
  display: flex;
  justify-content: flex-start;
}
.info span {
  text-shadow: none;
  color: #f5f5f5;
  font-size: 10px;
}
.email-info h5,
.github-info h5 {
  font-size: 15px;
  font-weight: 600;
}
.email-info span,
.github-info span {
  padding-right: 20px;
  font-size: 10px;
  color: var(--hover-color);
}
.buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  width: 250px;
}
.buttons a {
  padding: 12px;
  background-color: var(--hover-color);
  color: var(--background--color);
  font-size: 12px;
  font-weight: 700;
}

/* About section --------------------------------------------------------------------------*/
.about {
  margin-top: 50px;
  padding: 60px 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #121212, #a30a96a8);
  width: 100%;
}
.intro span {
  font-size: 35px;
  font-weight: 700;
  color: white;
  text-shadow: none;
}
.intro p {
  width: 92%;
  font-size: 15px;
  font-weight: 500;
}

/* Skills section --------------------------------------------------------------------------*/
.skills {
  padding-top: 5%;
  width: 100%;
  background-image: linear-gradient(to bottom, #a30a96a8, #380864be);
}
.main-text {
 
  padding-left: 7%;
  padding-top: 30px;
}
.main-text span {
 
  text-shadow: none;
  color: #f5f5f5;
  font-size: 25px;
  font-weight: 700;
  padding-left: 50px;
  text-align: center;
}

.skills-type span {
  font-size: 18.5px;
  font-weight: 600;
  padding-right: 20px;
  padding-left: 35px;
  text-align: center;
  
}
.skills-bar {
  text-align: start;
  width: 95%;
  padding: 10px 8%;
  padding-bottom: 20px;
}

.skill-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.skills-bar .bar {
  width: 100%;
  height: 10px;
  background-color: var(--background--color);
  margin-top: 2px;
  border-radius: 25px;
  position: relative;
}

.skills-bar .bar span {
  width: 50%;
  height: 100%;
  position: absolute;
  background: var(--hover-color);
  border-radius: 25px;
  box-shadow: var(--image-neon-shadow);
}
.skills-bar .bar .html {
  width: 95%;
  animation: html 2s;
}
.skills-bar .bar .css {
  width: 90%;
  animation: css 3s;
}
.skills-bar .bar .javascript {
  width: 85%;
  animation: javascript 4s;
}
.skills-bar .bar .java {
  width: 92%;
  animation: java 5s;
}
.skills-bar .bar .python {
  width: 87%;
  animation: python 6s;
}
.skills-bar .bar .dart {
  width: 93%;
  animation: dart 7s;
}
.skills-bar .bar .cplus {
  width: 98%;
  animation: cplus 8s;
}
.skills-section {
  width: 100%;
  background-color: rgba(59, 6, 59, 0.5);
  box-shadow: var(--image-neon-shadow);
  border-radius: 25px;
}
.skills-section :hover {
  background-color: rgba(65, 62, 65, 0.5);

  border-radius: 25px;
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}
@keyframes java {
  0% {
    width: 0%;
  }
  100% {
    width: 92%;
  }
}
@keyframes cplus {
  0% {
    width: 0%;
  }
  100% {
    width: 98%;
  }
}
@keyframes python {
  0% {
    width: 0%;
  }
  100% {
    width: 87%;
  }
}
@keyframes dart {
  0% {
    width: 0%;
  }
  100% {
    width: 98%;
  }
}

/* Project section --------------------------------------------------------------------------*/
.project {
  width: 100%;
  padding-top: 60px;
  background-image: linear-gradient(to bottom,  #380864be, #121212);
}
.project .main-text {
  text-align: center;
  margin: 0;
  padding-left: 0;
}
.main-text .project-type span {
  font-size: 15px;
}
.container {
  box-shadow: var(--image-neon-shadow);
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
 
  
}
.container .describe {
  font-size: 15px;
  font-weight: 600;
  padding-top: 55px;
  padding-left: 20px;
  padding-bottom: 20px;
  text-align: start;
  width: 70%;
}
.container .numbering {
  width: 50px;
  height: 50px;
  margin: 50px;
  margin-right: 0;
  background-color: #96e2d5;
  border-radius: 25px;
  font-size: 35px;
  font-weight: 800;
  color: #380864;
}
.project-section {
  display: flex;
  
}

/* Contact me section --------------------------------------------------------------------------*/
.contact{
width: 100%;
background-image: linear-gradient(to bottom, #121212, #098bac50);
}
.contact .main-text{
    text-align: center;
    padding: 60px 20%;
}
.contact form{
    text-align: center;
    width: 100%;
    margin: 10px;
    
}
.contact form input{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    margin: 2px;

}

.contact form textarea{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    margin: 5px;
    resize: none;
}

.contact form input::placeholder{
    font-size: 15px;
    padding-left: 5%;
}
.contact form textarea::placeholder{
    font-size: 15px;
    padding-left: 5%;
    padding-top: 5%;
}
.formBtn{
  display: flex;
  justify-content: center;
  width: 100%;
}
.formBtn .btn{
  cursor: pointer;
  font-size: 12px;
  padding: 5px;
}

/*///////////for responsiveness///////////////////////*/


@media screen and (max-width: 768px) {

  /*Header section responsiveness//////////////////////////*/
  .logo {
    font-size: 30px;
    padding-left: 10px;
  }

  .header_options {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .header_options li {
    margin-bottom: 15px;
  }

  .header_options a {
    font-weight: 500;
    padding: 10px 0;
    display: block;
  }

  #menu-icon {
    display: block;
    padding-right: 30px;

  }
  
  #menu-icon.active + .header_options {
    display: block;
  }

  /*Home section responsiveness//////////////////////////*/

  section {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
  }

  .home-content h1 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    width: 150%;
    padding-left: 25%;
  }
  .text-changer {
    font-size: 25px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  .text-changer span {
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    padding-top: 70px;
    
    opacity: 0;
  }

  img {
    width: 200px;
    height: auto;
    border: 20px var(--hover-color);
  }

  

  .info {
    padding-top: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .info span {
    font-size: 12px;
  }

  .email-info h5,
  .github-info h5 {
    font-size: 20px;
  }

  .email-info span,
  .github-info span {
    padding-right: 0;
    font-size: 12px;
    color: var(--hover-color);
  }

  .buttons {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    width: 100%;
  }

  .buttons a {
    margin-bottom: 10px;
  }

  /*About section responsiveness//////////////////////////*/
  .about {
    display: flex;
    flex-direction: column;
    padding: 0px 10%;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .about-image {
    padding-bottom: 8px;
  }

  .image-box-about {
    max-width: 90%;
  }

  .intro {
    padding-top: 10px;
    
  }

  .intro p {
    font-size: 14px;
    text-align: start;
    width: 95%;
  }

  /*Project section responsiveness//////////////////////////*/

  .container {
    margin: 20px;
  }

  .container .numbering {
    width: 50px;
    height: 50px;
    margin: 20px;
    margin-left:10px;
    margin-right: 0;
    background-color: #96e2d5;
    border-radius: 25px;
    font-size: 35px;
    font-weight: 800;
    color: #380864;
  }

  .container .describe {
    padding: 15px;
    font-size: 14px;
    width: 92%;
    text-align: center;
  }

  .project-section {
    flex-direction: column;
    align-items: center;
  }

  /*Contact me section responsiveness//////////////////////////*/

  .contact .main-text {
    padding: 60px 5%;
  }

  .contact form {
    margin: 18px;
  }

  .contact form input,
  .contact form textarea {
    font-size: 14px;
  }

  .formBtn .btn {
    font-size: 12px;
    padding: 5px 10px;
  }

}

